@font-face{
						font-family:華康寶風體W4;
						src: url(華康寶風體W4.ttc)
					}
body	{background-image:url("loser.jpg");
		 background-size: 100% 100%;
		 background-repeat:no-repeat;
		 min-height: 100%;
		 height: auto;
		 background-attachment: fixed;
		 font-family: 華康寶風體W4;
		}
html  {height: 100%; 
		}
img.text{position:absolute;
		top:0px;
		left:511px;
		}
img.Li	{position:absolute;
		 top:0px;
		}
.space	{
		 position:absolute;
		 top:200px;
		 left:550px;
		 font-size:80px;
		 height:50px;
		}
body	{background-color:yellow;
		 background-attachment: fixed;
		 height: auto;
		 background-size: 100% 100%;
		  min-height: 100%;
		}
html  	{height: 100%; 
		}
table.one	{position:absolute;
		 background-color:white;
		 top:588px;
		
		}
	
td 		{
         width: 100px;
         height: 95px;
         background-color: #E8CCFF;
        }
img.Li2	{
	     width: 100px;
         height: 95px;
		}

.pos4	{position:absolute;
		top:900px;
		left:1600px;
		font-size:60px;
		width:700px;
		
		}
		
.pos5	{position:absolute;
		top:750px;
		left:1600px;
		font-size:60px;
		width:700px;
		color : blue;
		}
a:hover		{text-decoration:none; background-color : yellow}
a			{color : red; text-decoration : none }